.playButton {
  margin: 20px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #66d88c;
  color: rgb(17, 0, 255);
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}

.playButton:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

.analysisButton {
  margin: 20px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #66d88c;
  color: rgb(17, 0, 255);
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}

.analysisButton:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

.result {
  font-size: 20px;
}

.FieldsMenu {
  width: 100%;
  min-width: 130px;
}

input[type="radio"] {
	margin: 10px;
}

.IntroLink {
  margin: 10px;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: rgb(17, 0, 255);
  border: solid 2px rgb(17, 0, 255);
  border-radius: 3px;
  transition: 0.3s;
}

.IntroLink:hover {
  background: rgb(17, 0, 255);
  color: white;
}

.FieldsLink {
  margin: 10px;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: rgb(17, 0, 255);
  border: solid 2px rgb(17, 0, 255);
  border-radius: 3px;
  transition: 0.3s;
}

.SignLink {
  margin: 10px;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: rgb(17, 0, 255);
  border: solid 2px rgb(17, 0, 255);
  border-radius: 3px;
  transition: 0.3s;
}

.FieldsLink:hover {
  background: rgb(17, 0, 255);
  color: white;
}

.SignLink:hover {
  background: rgb(17, 0, 255);
  color: white;
}

.RecentResultCol {
  min-width: 180px;
}

.MainContainer {
  width: 100%;
  margin: 0px;
  max-width: none;
}
